.dashboard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.userList, .subscriberList {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .dashboard {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
}