@import 'variables.scss';

.header {
  height: 120px;
  position: relative;
  display: flex;
  background-color: $primary-color;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 64px;
    margin-right: 1rem;
  }
}

.menuIcon {
  margin-left: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonContainer {
  margin-right: auto;
  width: 35%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.headerButton {
  background-color: white;
  padding: 1vh;
  border-radius: 4px;
  margin-left: 1vh;
}
