@import 'variables';

.list {
  list-style: none;

  @include medium {
    width: 520px;
  }

  h4 {
    margin-bottom: 0;
  }

  .user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }
}

.subInfo {
  color: rgba(0, 0, 0, 0.6);
}
